body {
  background-color: black;
}

.container2 {
  margin-top: 10%;
  color: white;
  max-width: 50%;
}

.display {
  font-size: 100px;
  color: black;

}

.button {
  padding: 10px;
}

.lapitem {
  height: 20px;
  background-color: black;
}

.milli {
  padding-left: 7px;
  font-size: 41px;
  align-content: end;
}

.m-disp {
  padding-bottom: 25%;
}

.lap-heading {
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 17px;
}

.tt {
  padding-right: 12px;
}

.btn {
  margin: 2px 2px 2px 2px;
}